
*
{
	/*border: 1px solid red !important;*/
}


*
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

*{
	font-family: 'lato', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #666756;
}

.grid {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
}

.title{
	text-align: right;
	text-transform: uppercase;
}

img{
	max-width: 100%;
}

.first
{
	text-align: left;
	padding-right: 10px;
}

.middle{
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
}

.last{
	text-align: right;
	padding-left: 10px;
}

h1{
	font-weight: 100;
	font-size: 60px;
	margin-bottom: 15px;
	margin-top: 15px;
}

h2{
	font-size: 35px;
	margin: 0px;
	color: #bcbbbb;
}

h3{
	font-size: 35px;
	text-align: center;
	text-transform: uppercase;
	margin: 0px;
}

hr{
	height: 4px;
  background-color: #bcbbbb;
  border: none;
}

p{
	text-align: right;
}

.row
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 10px;
	padding-top: 10px;
}

.col-1
{
	width: 8.33%
}

.col-2
{
	width: 16.66%
}

.col-3
{
	width: 25%
}

.col-4
{
	width: 33.33%
}

.col-5
{
	width: 41.66%
}

.col-6
{
	width: 50%
}

.col-7
{
	width: 58.33%
}

.col-8
{
	width: 66.66%
}

.col-9
{
	width: 75%
}

.col-10
{
	width: 83.33%
}

.col-11
{
	width: 91.66%
}

.col-12
{
	width: 100%
}






